###################### Filebeat Configuration Example #########################

# This file is an example configuration file highlighting only the most common
# options. The filebeat.reference.yml file from the same directory contains all the
# supported options with more comments. You can use it as a reference.
#
# You can find the full configuration reference here:
# https://www.elastic.co/guide/en/beats/filebeat/index.html

# For more available modules and options, please see the filebeat.reference.yml sample
# configuration file.

#=========================== Filebeat inputs =============================

filebeat.inputs:
- type: log
  enabled: true

  # Paths that should be crawled and fetched. Glob based paths.
  #
  # NOTE:
  #
  # THESE NEED TO BE UPDATED TO REFLECT THE CORRECT LOCATIONS FOR PRICE/LOS/ETC.
  #
  paths:
  - {{log_path}}

  ### Multiline options
  # The regexp Pattern that has to be matched. The example pattern matches all lines starting with [
  multiline.pattern: ^\>\s+

  # Defines if the pattern set under pattern should be negated or not. Default is false.
  multiline.negate: false

  # Match can be set to "after" or "before".
  multiline.match: before

  # Optional additional fields. These fields can be freely picked
  # to add additional information to the crawled log files for filtering

  # =======================================================
  # UPDATE: Add a field for TYPE (PRICE/LOS/etc.)
  # ======================================================
  fields:
    type: {{log_type}}

#============================= Filebeat modules ===============================

filebeat.config.modules:
  # Glob pattern for configuration loading
  path: ${path.config}/modules.d/*.yml

  # Set to true to enable config reloading
  #reload.enabled: true

  # Period on which files under path should be checked for changes
  #reload.period: 10s

#==================== Elasticsearch template setting ==========================

setup.template.settings:
  index.number_of_shards: 1
  index.codec: best_compression
  #_source.enabled: false


#============================== Kibana =====================================

# Starting with Beats version 6.0.0, the dashboards are loaded via the Kibana API.
# This requires a Kibana endpoint configuration.
setup.kibana:

  # Kibana Host
  # Scheme and port can be left out and will be set to the default (http and 5601)
  # In case you specify and additional path, the scheme is required: http://localhost:5601/path
  # IPv6 addresses should always be defined as: https://[2001:db8::1]:5601
  #host: "localhost:5601"

  # Kibana Space ID
  # ID of the Kibana Space into which the dashboards should be loaded. By default,
  # the Default Space will be used.
  #space.id:



#================================ General =====================================

# The name of the shipper that publishes the network data. It can be used to group
# all the transactions sent by a single shipper in the web interface.

# =================================================
# UPDATE: <ADD SERVER NAME>
# =================================================
# name: "<ADD SERVER IP:PORT OR FQDN:PORT HERE>"
# name: {{hostvars[inventory_hostname]['ansible_all_ipv4_addresses'][1]|string}} 
name: {{hostvars[inventory_hostname]['ansible_hostname']|string}}


# The tags of the shipper are included in their own field with each
# transaction published.
# tags: ["service-X", "web-tier"]


#================================ Outputs =====================================

# Configure what output to use when sending the data collected by the beat.

#----------------------------- Logstash output --------------------------------
output.logstash:
  # The Logstash hosts
  # =======================================
  # |
  # | UPDATE: ADD LOGSTASH HOST
  # |
  # =======================================
  # hosts:  ["localhost:5044", "A.B.C.D:XXXX"] <-- AS IPs or FQDNs
  hosts: ["{{logstash_server}}:{{logstash_port}}"]

  # Optional SSL. By default is off.
  # List of root certificates for HTTPS server verifications
  #ssl.certificate_authorities: ["/etc/pki/root/ca.pem"]

  # Certificate for SSL client authentication
  #ssl.certificate: "/etc/pki/client/cert.pem"

  # Client Certificate Key
  #ssl.key: "/etc/pki/client/cert.key"



# ================================ Processors =====================================
# Configure processors to enhance or manipulate events generated by the beat.
# =================================================================================
processors:
  - add_host_metadata: ~
  - add_cloud_metadata: ~
  - add_docker_metadata: ~
  - add_kubernetes_metadata: ~

